@import "tailwindcss";

@theme {
  --color-alba-primary: #24473A;
  --color-alba-accent: #E3A03A;
  
  --color-alba-secondary: #343530;
  --color-alba-surface: #FFFEFA;

  --font-spectral: "Spectral", serif;
}
